{{define "layout"}}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
<div class="header">
<h1 class="site-title">IndiaBits Tip bot</h1>
<p class="site-tagline">Telegram Tip bot</p>
</div>
</body>
</html>
{{end}}